RequestForQuoteServicesModuleLibrary/bin/
RequestForQuoteServicesModuleLibrary/obj/

WPFStyley_Metallic4/bin/
WPFStyley_Metallic4/obj/

RequestForQuoteToolBarModuleLibrary/bin/Release/
RequestForQuoteToolBarModuleLibrary/bin/Debug/

RequestForQuoteToolBarModuleLibrary/obj/Release/
RequestForQuoteToolBarModuleLibrary/obj/Debug/

RequestForQuoteFunctionsModuleLibrary/bin/Release/
RequestForQuoteFunctionsModuleLibrary/bin/Debug/

RequestForQuoteFunctionsModuleLibrary/obj/Release/
RequestForQuoteFunctionsModuleLibrary/obj/Debug/

RequestForQuoteMaintenanceModuleLibrary/bin/Release/
RequestForQuoteMaintenanceModuleLibrary/bin/Debug/

RequestForQuoteMaintenanceModuleLibrary/obj/Release/
RequestForQuoteMaintenanceModuleLibrary/obj/Debug/

RequestForQuoteGridModuleLibrary/bin/Release/
RequestForQuoteGridModuleLibrary/bin/Debug/

RequestForQuoteGridModuleLibrary/obj/Release/
RequestForQuoteGridModuleLibrary/obj/Debug/

RequestForQuoteInterfacesLibrary/bin/Release/
RequestForQuoteInterfacesLibrary/bin/Debug/

RequestForQuoteInterfacesLibrary/obj/Release/
RequestForQuoteInterfacesLibrary/obj/Debug/

RFQ/bin/Release
RFQ/bin/Debug

RFQ/obj/Release
RFQ/obj/Debug