RequestForQuoteServicesModuleLibrary/bin/
RequestForQuoteServicesModuleLibrary/obj/

RequestForQuoteServicesModuleLibrary.Test/bin/
RequestForQuoteServicesModuleLibrary.Test/obj/

WPFStyley_Metallic4/bin/
WPFStyley_Metallic4/obj/

RequestForQuoteToolBarModuleLibrary/bin/
RequestForQuoteToolBarModuleLibrary/obj/

RequestForQuoteFunctionsModuleLibrary/bin/
RequestForQuoteFunctionsModuleLibrary/obj/

RequestForQuoteFunctionsModuleLibrary.Test/bin/
RequestForQuoteFunctionsModuleLibrary.Test/obj/

RequestForQuoteReportsModuleLibrary/bin/
RequestForQuoteReportsModuleLibrary/obj/

RequestForQuoteReportsModuleLibrary.Test/bin/
RequestForQuoteReportsModuleLibrary.Test/obj/

RequestForQuoteGridModuleLibrary.Test/bin/
RequestForQuoteGridModuleLibrary.Test/obj/

RequestForQuoteMaintenanceModuleLibrary/bin/
RequestForQuoteMaintenanceModuleLibrary/obj/

RequestForQuoteGridModuleLibrary/bin/
RequestForQuoteGridModuleLibrary/obj/

RequestForQuoteInterfacesLibrary/bin/
RequestForQuoteInterfacesLibrary/obj/

RequestForQuoteInterfacesModuleLibrary.Test/bin/
RequestForQuoteInterfacesModuleLibrary.Test/obj/

RFQ/bin/
logs/
RFQ/obj/

*.pdb
RequestForQuote*.dll
WPFStyley*.dll
dlls/RFQ.*
*Result.xml
RFQ.suo
dlls/RequestForQuoteServicesModuleLibrary.dll.config

_ReSharper.RFQ/
RFQ.sln.docstates.suo
RFQ.sln.DotSettings.user
RFQ.sln.DotSettings
StyleCop.Cache
