<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Off, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\development\git\RequestForQuoteWPFGUI\logs\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <modules>
    <module assemblyFile="RequestForQuoteServicesModuleLibrary.dll"
            moduleType="RequestForQuoteServicesModuleLibrary.RequestForQuoteServicesModule, RequestForQuoteServicesModuleLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="RequestForQuoteServicesModule" startupLoaded="true"/>
    
    <module assemblyFile="RequestForQuoteGridModuleLibrary.dll"
            moduleType="RequestForQuoteGridModuleLibrary.RequestForQuoteGridModule, RequestForQuoteGridModuleLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="RequestForQuoteGridModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="RequestForQuoteServicesModule"/>
      </dependencies>
    </module>
    
    <module assemblyFile="RequestForQuoteToolBarModuleLibrary.dll"
            moduleType="RequestForQuoteToolBarModuleLibrary.RequestForQuoteToolBarModule, RequestForQuoteToolBarModuleLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="RequestForQuoteToolBarModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="RequestForQuoteServicesModule"/>
      </dependencies>
    </module>
    
    <module assemblyFile="CRequestForQuoteFunctionsModuleLibrary.dll"
            moduleType="RequestForQuoteFunctionsModuleLibrary.RequestForQuoteFunctionsModule, RequestForQuoteFunctionsModuleLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="RequestForQuoteFunctionsModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="RequestForQuoteServicesModule"/>
      </dependencies>
    </module>

    <module assemblyFile="RequestForQuoteMaintenanceModuleLibrary.dll"
            moduleType="RequestForQuoteMaintenanceModuleLibrary.RequestForQuoteMaintenanceModule, RequestForQuoteMaintenanceModuleLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="RequestForQuoteMaintenanceModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="RequestForQuoteServicesModule"/>
      </dependencies>
    </module>

    <module assemblyFile="RequestForQuoteReportsModuleLibrary.dll"
            moduleType="RequestForQuoteReportsModuleLibrary.RequestForQuoteReportsModule, RequestForQuoteReportsModuleLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="RequestForQuoteReportsModule" startupLoaded="true">
      <dependencies>
        <dependency moduleName="RequestForQuoteServicesModule"/>
      </dependencies>
    </module>    
    
  </modules>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\logs\rfq.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%C %M %thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%C %M %thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>    

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="false" activityTracing="false"
        messageFlowTracing="true" />
    </diagnostics>
    <bindings>
      <basicHttpBinding>
        <binding name="UserControllerSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="GroupControllerSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>        
        <!--Had to increase the size of both maxReceivedMessageSize and maxBufferSize to accommodate more search results-->
        <binding name="RequestControllerSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>        
        <binding name="ClientControllerSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ReportingControllerSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>        
        <binding name="BookControllerSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>        
        <binding name="OptionPricingControllerSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SearchControllerSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ChatMediatorSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="HolidayControllerImplServiceSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="UnderlyingControllerSoapBinding" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>        
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/rfq/services/RequestMaintenance"
        binding="basicHttpBinding" bindingConfiguration="RequestControllerSoapBinding"
        contract="RequestMaintenanceService.RequestController" name="RequestControllerImplPort" />
      <endpoint address="http://localhost:8080/rfq/services/ClientMaintenance"
        binding="basicHttpBinding" bindingConfiguration="ClientControllerSoapBinding"
        contract="ClientMaintenanceService.ClientController" name="ClientControllerImplPort" />
      <endpoint address="http://localhost:8080/rfq/services/BookMaintenance"
        binding="basicHttpBinding" bindingConfiguration="BookControllerSoapBinding"
        contract="BookMaintenanceService.BookController" name="BookControllerImplPort" />
      <endpoint address="http://localhost:8080/rfq/services/PriceOption"
        binding="basicHttpBinding" bindingConfiguration="OptionPricingControllerSoapBinding"
        contract="OptionPricerService.OptionPricingController" name="OptionPricingControllerImplPort" />
      <endpoint address="http://localhost:8080/rfq/services/SearchCriteria"
        binding="basicHttpBinding" bindingConfiguration="SearchControllerSoapBinding"
        contract="SearchCriteriaService.SearchController" name="SearchControllerImplPort" />
      <endpoint address="http://localhost:8080/rfq/services/Chat" binding="basicHttpBinding"
        bindingConfiguration="ChatMediatorSoapBinding" contract="ChatService.ChatMediator"
        name="ChatMediatorImplPort" />
      <endpoint address="http://localhost:8080/rfq/services/HolidayMaintenance"
        binding="basicHttpBinding" bindingConfiguration="HolidayControllerImplServiceSoapBinding"
        contract="HolidayMaintenanceService.HolidayController" name="HolidayControllerImplPort" />
      <endpoint address="http://localhost:8080/rfq/services/Report"
          binding="basicHttpBinding" bindingConfiguration="ReportingControllerSoapBinding"
          contract="ReportingService.ReportingController" name="ReportingControllerImplPort" />
      <endpoint address="http://localhost:8080/rfq/services/UnderlyingMaintenance"
          binding="basicHttpBinding" bindingConfiguration="UnderlyingControllerSoapBinding"
          contract="UnderlyingMaintenanceService.UnderlyingController" name="UnderlyingControllerImplPort" />
      <endpoint address="http://localhost:8080/rfq/services/UserMaintenance"
          binding="basicHttpBinding" bindingConfiguration="UserControllerSoapBinding"
          contract="UserMaintenanceService.UserController" name="UserControllerImplPort" />
      <endpoint address="http://localhost:8080/rfq/services/GroupMaintenance"
          binding="basicHttpBinding" bindingConfiguration="GroupControllerSoapBinding"
          contract="GroupMaintenanceService.GroupController" name="GroupControllerImplPort" />      
    </client>
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    
</configuration>
